<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<div class="fl form-box">
    <table width="500">
        <tr>
            <td>ID</td>
            <td>传感器</td>
            <td>电台</td>
            <td>电池</td>
            <td>温度</td>
            <td>时间</td>
        </tr>

        {% for line in detail_lines %}
            <tr>
                <td>{{ line.LINE_ID }}</td>
                <td>{{ line.SENSOR }}</td>
                <td>{{ line.RADIO_STATION }}</td>
                <td>{{ line.BATTERY }}</td>
                <td>{{ line.TEMPERATURE }}</td>
                <td>{{ line.TIME }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
